/*** BASE ***/
/*La regla body establece que todos los elementos dentro del cuerpo de la página deben tener un tamaño de caja de borde y un margen de 0. Además, el texto debe tener una fuente serif llamada "Droid Serif" y un color de texto de # 333. */
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Droid Serif", serif;
  color: #333;
}
body * {padding: 0;}/* La regla body * establece que todos los elementos dentro del cuerpo no deben tener ningún relleno.*/
section {text-align: center;}/*La regla section establece que todos los elementos de la sección deben estar centrados en la página.*/
ul li {list-style: none;} /* La regla ul li establece que todas las listas no deben tener viñetas. */
.container {max-width: 700px; margin: auto;}/*La regla .container establece que el ancho máximo del contenedor es de 700px y que se debe centrar en la página. */
.container h1 {text-align: center;}/*La regla .container h1 establece que el texto de la cabecera de la página debe estar centrado en la página.*/

#content {margin: auto;}/*La regla #content establece que el contenido debe estar centrado en la página.
 */
#title, #footer {color: #fdfdfd;}/*La regla #title, #footer establece que los elementos con los identificadores "title" y "footer" deben tener un color de texto de #fdfdfd. */

 /*La regla hr establece que debe haber una línea horizontal con un ancho de 200px, un borde sólido de 0.5px y un color de #333. Además, hay un margen superior e inferior de 3rem y el elemento está centrado horizontalmente. */
 hr {
  margin: 3rem auto;
  border: 0.5px solid #333;
  width: 200px;
}



  /*** HEADER #TRIBUTE-INFO ***/

  /*La regla #tribute-info establece que el elemento con el identificador "tribute-info" debe tener una imagen de fondo, que se ajustará al tamaño del elemento. La imagen se centra y el elemento también está centrado verticalmente con la propiedad align-items. Además, tiene una altura de 100vh y se muestra como un elemento flexible. */
  #tribute-info {
    background-image: url(https://www.princexml.com/howcome/ego.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  

  /*La regla #title establece que el elemento con el identificador "title" debe tener un tamaño de fuente de 2.2rem y un relleno izquierdo de 10rem. Cuando la pantalla tiene un ancho máximo de 600px, el elemento se centra horizontalmente */
  #title {
    font-size: 2.2rem;
    padding-left: 10rem;
  }
  
  @media (max-width: 600px) {
    #tribute-info {justify-content: center}
    #title {padding-left: 0;}
  }
  
  

